@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-6 mb-3">ТЗ №1 для курсів .Net</h1>
    
</div>
<p>
    Створити веб-застосунок, який буде мати можливість відображення ієрархічної структури каталогів.
    Що потрібно розробити:
</p>
<ol>
    <li>
        БД для збереження ієрархічної системи каталогів (папок). Наповнити БД даними зі схеми внизу.
    </li>
    <li>
        Веб-застосунок для відображення структури каталогів із БД. На веб сторінці кожного каталогу відобразити назву та список дочірніх каталогів (елементи зі списку повинні бути посиланнями).
        Для роботи використовувати asp.net core.
    </li>
</ol>

<p>
    <strong>Бонус 1</strong>: додати можливість імпортувати структуру каталогів з операційної системи або з файлу (Бонус 2), з подальшим збереженням у БД і відображенням у веб-додатку.
</p>
<p>
    <strong>Бонус 2</strong> (<i>при виконанні Бонус 1</i>): структура каталогів, що вже існує в БД при цьому експортується в файл, з можливістю подальшого імпорту.
</p>
<div>
    <p>
        Схема для базового наповнення БД:
    </p>
    <picture>
        <img src="~/images/schema_01.jpg" class="img-fluid img-thumbnail" alt="schema_01.jpg" />
    </picture>
</div>
<br />
<div>
    <p>
        Приклад як має виглядати веб-сторінка каталогу:
    </p>
    <picture>
        <img src="~/images/schema_02.jpg" class="img-fluid img-thumbnail" alt="schema_02.jpg" />
    </picture>
</div>




