<button class="btn btn-outline-success">
    <a class="text-decoration-none" asp-controller="Data" asp-action="OpenFolder">OpenFolder</a>
</button>

<button class="btn btn-outline-success">
    <a class="text-decoration-none" asp-controller="Data" asp-action="GetFolders">GetFolders</a>
</button>

<button class="btn btn-outline-success">
    <a class="text-decoration-none" asp-controller="Data" asp-action="UploadFile">UploadFile</a>
</button>